body {
  background-color: sandybrown;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.nav {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: lighter;
}

.recetas {
  text-align: center;
}

.container {
  height: auto;
  width: auto;
  margin-top: 10px;
}

.abuela {
  height: 30%;
  width: 100%;
  border-radius: 10px;
}

.pages {
  margin: 10px;
}

#titulo-crepes {
  text-align: center;
}

.crepes {
  height: auto;
}
